[submodule "order-service"]
	path = order-service
	url = https://github.com/Gyeom/order-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/Gyeom/user-service.git
[submodule "config-service"]
	path = config-service
	url = https://github.com/Gyeom/config-service.git
[submodule "apigateway-service"]
	path = apigateway-service
	url = https://github.com/Gyeom/apigateway-service.git
[submodule "discoveryservice"]
	path = discoveryservice
	url = https://github.com/Gyeom/discoveryservice.git
